/* minimum styling possible */
* { -webkit-box-sizing:border-box; box-sizing:border-box; }
body { width:960px; margin:0 auto; }
#your-app { overflow:hidden; padding:1px; }
.companies-listing { float:left; width:200px; height:330px; padding:20px; }
.companies-listing a.active { font-weight:bold; }
.companie-profile { border:1px solid #ddd; border-radius:3px; float:left; overflow:hidden; width:460px; min-height:330px; padding:20px; position:relative; }
.companie-profile img { float:left; margin:0 20px 20px 0; max-width:300px; max-height:150px; margin-right:200px; }
.companie-edit { border:1px solid #ddd; border-left:none; float:left; height:330px; padding:20px; background:#ebebeb; }
.create-btn { display:inline-block; border:1px solid #ccc; padding:2px 10px; margin:10px 0; background:#eee; }
label { display:block; margin-bottom:2px; margin-top:3px; }
input, textarea { border:1px solid #ccc; border-radius:3px; box-shadow:none; min-width:220px; padding:5px; }
.confirm-box { display:inline-block; border:1px solid #ddd; background:#f1f1f1; border-radius:3px; padding:12px; position:absolute; right:12px; }
h5 { margin-top:0; }
